<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD ORDER AND DETAILS</h1>
    <form action="/api/addOrderDetails" method="post">
        <table>
            <tr>
                <td>NAME:</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>CITY:</td>
                <td>
                    <input type="text" name="city">
                </td>
            </tr>
            <tr>
                <td>QTY:</td>
                <td>
                    <input type="text" name="quantity">
                </td>
            </tr>
            <tr>
                <td>PRICE:</td>
                <td>
                    <input type="text" name="price">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">ADD ORDER</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>